<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="project.teamtwo.component.RohDTO" alias="RohDTO" />
		<typeAlias type="project.teamtwo.component.OnlyimageDTO" alias="OnlyimageDTO" />
		<typeAlias type="project.teamtwo.component.GuestDTO" alias="guestDTO" />
		<typeAlias type="project.teamtwo.component.BorderDTO" alias="borderDTO" />
		<typeAlias type="project.teamtwo.component.PictureDTO" alias="PictureDTO" />
	</typeAliases>
</configuration>